{% extends 'base.html.twig' %}

{% block title %}Bienvenue au Wild Circus{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="text-center my-5">WILD CIRCUS</h1>
    <section id="spectacles">
        <h2>Nos prochaines dates</h2>
    </section>
    <section id="numeros">
        <h2>Nos numéros</h2>

    </section>
    <section id="artists">
        <h2>Nos artistes</h2>

    </section>
    <section id="prices">
        <h2>Tarifs</h2>

    </section>
</div>
{% endblock %}
