$primary-color: #c555da;
$secondary-color: #f99797;
$warm-color: #ffd64f;
$bg-primary: linear-gradient(90deg, #c555da 0%, #e47061 100%);
$bg-light: linear-gradient(220deg, #c6c6c6 0%, #979797 100%);
$color-success: #449D44;
$color-danger: #D9534F;
$top-border-radius: 8px 8px 0 0;
$all-border-radius: 8px;
$color1:#C555DA;
$color2:#CA59C8;
$color3:#D15FAD;
$color4:#D8668E;
$color5:#DF6C73;
