@import "vars";

html {
    scroll-behavior: smooth;
}

body {
    //color: white;
    background-color: white;
    //background-image: url("/assets/images/frontpage.jpg");
    background-position-x: center;
    background-size: cover;
    min-height: 100vh;
}

footer {
    display: block;
    bottom: 0;
    height: 122px;
    top:100vh;
    position: sticky;
}

h1 {
    font-size: 20vh;
    font-family: serif;
    padding: 200px 0;
}

h2 {
    text-align: center;
}

a {
    //color: white !important;
    font-weight: bold;
}

.prez {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 20px 0;
    >li {
        margin: 0 10px;
    }
    >li:first-child {
        margin: 0 10px 0 0;
    }
    >li:last-child {
        margin: 0 0 0 10px;
    }
}

.parallax {
    /* The image used */
    color: white;
    background: url("https://picsum.photos/1000/600?grayscale");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    ///* Set a specific height */
    //height: 80vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}

section {
    padding: 30px 30px;
    min-height: 300px;
    &:nth-child(odd){
        color: #313131;
        background-color: white;
    }
}
