{% extends 'base.html.twig' %}

{% block title %}New Tarification{% endblock %}

{% block body %}
    <h1>Create new Tarification</h1>

    {{ include('tarification/_form.html.twig') }}

    <a href="{{ path('tarification_index') }}">back to list</a>
{% endblock %}
